.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-bottom: 20px;
}

.back-button:hover {
  cursor: pointer;
}

.back-button img {
  width: 17px;
}
